version: '3.9'

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./api:/api
      - /api/bin
      - /api/obj
    environment:
      - ASPNETCORE_ENVIRONMENT=dev
    command: dotnet watch run --urls=http://+:5000 --no-launch-profile
    
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./web:/web
      - /web/node_modules
    environment:
      - NODE_ENV=dev
    command: npm run dev -- --host