version: '3.9'

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./web:/web
      - /web/node_modules
    environment:
      - NODE_ENV=dev
    command: npm run dev -- --host