:root{
    /* --color-bg: #ecebe8; */
    --color-bg: #fdfdfd;
    --color-text: rgba(10, 10, 10, 1);

    --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-size-base: 1em;
    --font-weight-base: 400;
    --font-weight-bold: 600;
    --line-height-base: 1.5;

    --spacing-small: 0.5em;;
    --spacing-medium: 1em;
    --spacing-large: 2em;

    --theme-color-main: #F96167;
    --theme-color-secondary: #f0cbcc;
    --theme-color-thirdly: #a51c20;
    --theme-color-thirdly-shadow: #571212;
    --theme-color-thirdly-hover: #570303;
    
    --theme-color-font-primary: #ffffff;
    --theme-color-font-secondary: #3b3232;
}